docs/architecture/structurizr-*.puml
.idea/
docs/build/

# .net 
*.suo
packages/
.vs

*.csproj.user

*.tmp
bin/
obj/

app.Debug.config
app.Release.config

TestResults/
/.vs/VSWorkspaceState.json
*.sqlite

*.DotSettings.user

node_modules/
.angular/


docs/architecture/structurizr-*.puml
.idea/
docs/build/

# .net 
*.suo
packages/
.vs

*.csproj.user

*.tmp
bin/
obj/

app.Debug.config
app.Release.config

TestResults/
/.vs/VSWorkspaceState.json
*.sqlite

*.DotSettings.user

node_modules/
.angular/